  .container { display: flex ; 
 justify-content:space-between;
  align-items:flex-start;
  padding: 20px;
}
.features{
  background-color: #fff;
  padding: 115px 60px;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #213053;
  margin: 0;
   overflow-x: hidden;
}
.header__logo {
  height: 65px;
}
header{
  position: sticky;
  top: 0px;
  background-color: #fff;
  height: 90px;
  z-index: 1;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #213053;
}
header a {
  font-size: 15px;
  font-weight: 600;
  margin-right: 25px;
}
button {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #fff;
  background-color: #23a030;
  border: none;
  border-radius: 15px;
  cursor: pointer;
   box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
  padding: 15px;
}

button:hover{
background-color: #f6980c;
box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
transition: background-color 0.5s ease-in;
}

.about__images img {
  width: 500px;
  padding-top: 50px ;
}
.about{display:flex;
  justify-content: space-around;

}
.about h1 {
  font-size: 70px;
  line-height: 76px;

}
.about p{
  font-size:  18px; ;
  line-height:30px ;
  opacity: 0.8
}
.about button{
  font-size:18px ;
  border-radius:20px ;
  padding:20px 25px ;
 margin-top: 20px 
  
}
.about__info {
  max-width: 550px;
  padding-bottom: 10px;
}

.about {
  background: url('https://avatars.mds.yandex.net/i?id=4003223c6b525675372f01ff32e50c1bc31d4df3-3723127-images-thumbs&n=13') no-repeat;
  background-position: center;
  background-size: cover;
   flex-shrink: 0.5 ;
}
.form__container {
  width: 550px;
}
.form{
  display: flex;
  color: #fff;
  background-color:#1D263A;
  padding-top: 115px;
  padding-bottom: 115px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.form h1{
font-size: 48px;
}
.form p{
font-size: 18px;
opacity: 0,68;
}
.form__group{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.form label{
  font-size: 18px ;
  font-weight: 60px;
  margin-bottom: 20px;
}
 .form__submit{
font-size: 18px;
font-weight: 600;
margin-top: 40px;
width: 550px;
 }
.form input{
  font-size:  18px ;
  font-weight: 600;
  color: #213053;
  height: 300;
  padding: 0 20px 0 20px;
  border-radius: 15px ;
  border: none;
  line-height: 50px;
}
select {
  appearance: none;
   line-height: 50px;
   border-radius: 15px;
   border: none;
   font-size:  18px ;
  font-weight: 600;
  color: #213053;
  padding: 0 20px 0 20px;
}
input {
  outline: none;
}
footer{ 
  padding: 90px 20px ;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  opacity: 0.5;
  flex-direction: column;
  align-items: center;
} 
.footer__container{
  display: flex;
    justify-content: center;
}
.footer__group{
  margin-right: 80px ; 
}
.footer__group h3{
font-size: 16px;
opacity: 0.7;
padding-bottom:  30px;
}
.footer__links{
  display: flex;
  flex-direction: column;
}
.footer__links a{
padding-bottom: 15px;
}
.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
}
.card__logo{
  width: 100px;
  height: 100px;
  font-size: 32px;
  font-weight: 700px;
  color: #eaeff9;
   border-radius: 50%; 
   display: flex ;
   align-items: center;
   justify-content: center;
background-color: #eaeff9;
}
.card_logo1{
  color: #ffb406;
}
.card_logo2{
  color: #ad1714;
}
.card_logo3{
  color: #22a030;
}
.card{
  border-width: 1px;
  padding: 35px 40px 25px 40px;
  border-color: #D9E4E6 ;
  border-radius: 5px;
   border-style: solid;
}
.features__border{ 
 margin-top:50px;
 margin-bottom:50px;
 border-width:1px ;
 border-color:#E6EAF4 ;
 border-style: solid;
}
.features__feedback{
  display: flex;
}
.fa-star{color:#ff7039 ;}
.features__rate-box{
  background-color: #1D263A;
  text-shadow: rgb(29 38 58 / 20%) 6px 0px 0 ;
   
 
}
.features__savings-box{
  background-color: #dc5e26;
  text-shadow: rgb(221 95 38 / 20%) 6px 0px 0 ;
   margin-right: 30px;
  
 
}
.features__feedback-right{
  display: flex;
 align-items: center;
}
.features__feedback-left{
  padding-right: 10px;
  flex-direction: column;
}
.features__feedback-left h2{
  font-size:  48px;
}
.features__feedback-left p{
  font-size: 18px;
  line-height: 26px;
  opacity: 0.7;
}
.features__box h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 48px;
}
.features__box{
  padding:30px 40px 25px 40px ;
  color: #fff;
  border-radius: 25px;
}
.card h3 {
 font-size:16px ;
 line-height: 22px;
 opacity: 0.8; 
}
.promo__image {
  background-image: url('https://img.freepik.com/premium-photo/worker-cleaning-solar-panels-after-installation-outdoors_255667-35523.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50%;
  min-height: 500px;
}
.promo{
  display: flex;
  margin-top: 20px;
}
.card__section{margin-top: 10px;margin-left: 10px;}
section .cards {
  margin-top: 45px;
}
.promo__right{ 
 background-color:  #dd5f26;
 padding: 160px 60px;
 width: 50%;
 box-sizing: border-box;
}
.promo__card{
  padding : 30px 40px;
  line-height :  22px; 
  font-size : 20px;
  font-weight : 500;
  border-radius : 25px;
  background-color: #fff;
}
.promo__button{
  display: flex;
  justify-content: center;
  margin-top: 20px ;
  padding-top:  15px 30px ;
  font-size: 18px;
  font-weight: 600;
}
.promo__button i {
  font-size: 15px;
  margin-left: 5px;
}
.promo__card p{
    color: rgba(0,0, 0, 0.5);}
.promo__card p::before{
   content: "";
  display: inline-block;
  width: 10px; 
  height: 10px; 
  border-radius: 50%;
  background-color: #ec6b29;
  margin-right: 10px;
}
@media (max-width: 1024px) {
  .about h1 {
    font-size: 50px;
    line-height: 56px;
  }  
  .about__images img {
    width: 400px;
  }
  .cards {
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }
  .features__feedback-left h2 {
    font-size: 36px;
  }
  .features__box h3 {
    font-size: 36px;
  }
  .features {
    padding: 80px 40px;
  }
  .promo__right {
    padding: 120px 40px;
  }
}
@media (max-width: 740px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
  .header__logo {
    height: 50px;
    margin-bottom: 15px;
  }
  header {
    height: auto;
    padding: 15px 0;
  }
  header a {
    font-size: 14px;
    margin-right: 15px;
  }
  .about {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }
  .about h1 {
    font-size: 36px;
    line-height: 42px;
  }
  .about p {
    font-size: 16px;
    line-height: 24px;
  }
  .about__images img {
    width: 100%;
    max-width: 350px;
    padding-top: 30px;
  }
  .about__info {
    max-width: 100%;
    padding: 0;
  }
  .about button {
    font-size: 16px;
    padding: 15px 20px;
  }
  .cards {
    grid-template-columns: 1fr;
    gap: 25px;
    margin: 40px 0;
  }
  .card {
    padding: 30px 25px;
  }
  .card__logo {
    width: 80px;
    height: 80px;
    font-size: 24px;
  }
  .features {
    padding: 60px 25px;
  }
  .features__feedback {
    flex-direction: column;
  }
  .features__feedback-left,
  .features__feedback-right {
    width: 100%;
    padding: 0;
  }
  .features__feedback-left h2 {
    font-size: 28px;
    text-align: center;
  }
  .features__feedback-left p {
    font-size: 16px;
    text-align: center;
    line-height: 24px;
  }
  .features__feedback-right {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .features__box {
    padding: 25px;
    text-align: center;
    width: 100%;
    max-width: 400px;
  }
  .features__box h3 {
    font-size: 32px;
  }
  .features__savings-box {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .features__border {
    margin: 40px 0;
  }
  .promo {
    flex-direction: column;
    margin: 40px 0;
  }
  
  .promo__image {
    width: 100%;
    min-height: 300px;
    order: 2;
  }
  .promo__right {
    width: 100%;
    padding: 50px 30px;
  }
  .promo__card {
    padding: 30px 25px;
    font-size: 16px;
    line-height: 24px;
  }
  .promo__button {
    margin-top: 25px;
  }
  .form {
    padding: 70px 25px;
  }
  
  .form__container {
    width: 100%;
  }
  .form h1 {
    font-size: 32px;
  }
  .form p {
    font-size: 16px;
  }
  .form input,
  select {
    font-size: 16px;
    height: 50px;
  }
  .form__submit {
    width: 100%;
    font-size: 16px;
    padding: 15px;
  }
  footer {
    padding: 60px 25px;
  }
  .footer__container {
    flex-direction: column;
    text-align: center;
  }
  .footer__group {
    margin-right: 0;
    margin-bottom: 35px;
  }
  .footer__group:last-child {
    margin-bottom: 0;
  }
  .footer__group h3 {
    font-size: 18px;
    padding-bottom: 20px;
  }
  .footer__links a {
    font-size: 14px;
    padding-bottom: 10px;
  } 
  .footer__copyright {
    margin-top: 30px;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  body {
    padding: 0 15px;
  }
  .about h1 {
    font-size: 28px;
    line-height: 34px;
  }
  .about__images img {
    max-width: 280px;
  }
  .card__logo{
    font-size: 30px;
  }
  .card {
    padding: 25px 20px;
  }
  .features__box h3 {
    font-size: 28px;
  }
  .form h1 {
    font-size: 28px;
  }
  .form {
    padding: 50px 20px;
  }
  button {
    font-size: 14px;
    padding: 12px 20px;
  }
  header a {
    font-size: 13px;
    margin-right: 10px;
  }
  .promo__right {
    padding: 40px 25px;
  }
  .promo__card {
    padding: 25px 20px;
  }}
